<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Starter Zone</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
      <div class="container">
    <header class="w3-container">
        
       <a class="link-title" href="/"><h1>Starter Zone</h1></a>
        
    </header>
   <nav class="navbar navbar-dark" style="background-color: #3CB371;">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
        <li ><a th:href="@{'/userpages/userview'}">Home</a></li> 
        <li class="active"><a  th:href="@{'/userpages/about'}">About us</a></li> 
        <li><a th:href="@{'/userpages/contactus'}">Contact</a></li>
        </ul>
       </div> 
   </nav>
<div class="menu-container">  
   <a href="userview.html">Product List</a>
   |
   <a href="@{'/userpages/shoppingCart'}" >
      My Cart
   </a>
</div>
  <h2>My Cart</h2>
                 
<form autocomplete="off" action="#" th:action="@{/userpages/cartUpdate}" 
	th:object="${session.cart}" method="post" role="form">
<div th:each="cartproduct,itrStat : ${session.cart}" style="width: 33%;float: left;">
<div class="product-preview-container">
<ul>
<li><img class="product-image"
th:src="${cartproduct.product.image}" /></li>
                   
<h3><li th:text="${cartproduct.product.productName}">${product.productName}</li></h3>
<li th:text="${cartproduct.product.code}">${product.code}</li>
<li th:text="${cartproduct.product.price}">${product.price}</li>
<li th:text="${cartproduct.product.seller}">${product.seller}</li>
<li th:text="${cartproduct.product.desc}">${product.desc}</li> 
<li> QTY: <input type="text"  th:value="${cartproduct.quantity}" name="quantity" placeholder="Quantity" class="form-control" /></li>

<p>Price:<li th:text="${cartproduct.product.price * cartproduct.quantity }">${product.desc}</li></p>   
<li><a th:href="@{'/userpages/deleteCart?productId=' + ${cartproduct.product.productId}}">
                               Delete </a></li>

</ul>
</div>
</div>
<br>
<div style="clear:both">
  <div style="float:left; padding: 15px;"><input class="btn btn-primary btn-block" type="submit" value="Update Quantity" /></div>
  <div style="float:left; padding: 15px;"><a th:href="@{'/userpages/shoppingCartCustomer'}" method="GET"> CHECKOUT</a></div>
</div>

</form>

</body>
</html>