<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 
<title>Shopping Cart</title>
 
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
 
</head>
<body>
 
   <div class="page-title">My Cart</div>
 
   <c:if test="${empty cartForm or empty cartForm.cartLines}">
       <h2>There is no items in Cart</h2>
       <a href="${pageContext.request.contextPath}/productList">Show
           Product List</a>
   </c:if>
 
<div th:each="cart : ${sessionScope}" style="width: 33%;float: left;">
               <div class="product-preview-container">
                   <ul>
                       <li><img class="product-image" th:src="${cart.image}" /></li>
                   
<h3><li th:text="${cart.productName}">${cart.productName}</li></h3>
<li th:text="${cart.code}">${cart.code}</li>
<li th:text="${cart.price}">${cart.code}</li>
<li th:text="${cart.seller}">${cart.code}</li>
<li th:text="${cart.desc}">${cart.desc}</li>
<li th:text="${cart.quantity}">${cart.quantity}</li>
<li th:text="${product.price * product.quantity}">${product.price * product.quantity}</li>
</ul>
</div>
 
</div>
 
 
</body>
</html>