<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Starter Zone</title>
</head>
<body>
<html>
<head>
	<title>Starter Zone</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>

  <div class="container">
    <header class="w3-container">
        
       <a class="link-title" href="/"><h1>Starter Zone</h1></a>
        
    </header>
    
   <nav class="navbar navbar-dark" style="background-color: #3CB371;">
  <div class="container-fluid">
  <ul class="nav navbar-nav">
        <li><a th:href="@{'/userpages/userview'}">Home</a></li> 
        <li><a  th:href="@{'/userpages/about'}">About us</a></li> 
        <li><a th:href="@{'/userpages/contactus'}">Contact</a></li>
        </ul>
       </div> 
   </nav>
 <div class="customer-info-container">
      <h3>Customer Information:</h3>
      <form th:action="@{/userpages/shoppingCartCustomer}" method="POST" class="form-signin">
      <ul style="list-style-type: none">
          <li>
          <input style="float:left;width:45%" type="text" name="First name" placeholder="First name">
          <input style="float:right;width:45%"type="text" name="Last name" placeholder="Last name"></li>
          <br>
          <br>
          <br>
          <li><input style="float:left;width:100%" type="text" name="Address" placeholder="Address"></li>
          <br>
          <br>
          <br>
          <li><input style="float:left;width:100%" type="text" name="Email" placeholder="Email"></li>
          <br>
          <br>
          <br>
          <li><input style="float:left;width:100%" type="text" name="Phone" placeholder="Phone"></li>
          <br>
          <br>
          <br>
        </ul> 
        <input id="submit" type="submit" name="submit" value="Continue for Payment">
         <br>
          <br>
          <br>
           <br>
          <br>
          <br> 
      </form>
  </div>

 
</body>
</html>